@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/download.css">
</head>
<body>
    <div class="flex">
        <span class="spinner"></span>
        <h1>Downloading @Model . . .</h1>
        <h2>Thank you for downloading! It will start in a few seconds.</h2>
        <p>It might take more than half a minute, depending on the size of the file, and your internet connection.</p>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        location.href = '/download/downloadfile?filepath=@Model'
    })
</script>
</html>