@using Aspose.Zip;
@using Microsoft.AspNetCore.Html;
@using ftp.Models;
@model ZipFileModel;

@functions {
	IHtmlContent GetIcon(string type)
	{
		if (type.EndsWith(".txt"))
			return Html.Raw($@"
				<img class='txt-p' src='/pics/file-icons/txt.png'>
			");
		if (type.EndsWith(".rar") || type.EndsWith(".zip"))
			return Html.Raw($@"
				<img src='/pics/file-icons/zip.png'>
			");
		if (type.EndsWith(".png") || type.EndsWith(".jpg") || type.EndsWith(".jfif") || type.EndsWith(".webp") || type.EndsWith(".svg"))
			return Html.Raw($@"
				<img src='/pics/file-icons/img.png'>
			");
		if (type.EndsWith(".cs"))
			return Html.Raw($@"
				<img class='txt-p' src='/pics/file-icons/cs.png'>
			");
		if (type.EndsWith(".py"))
			return Html.Raw($@"
				<img class='txt-p' src='/pics/file-icons/python.png'>
			");
		if (type.EndsWith(".html") || type.EndsWith(".cshtml"))
			return Html.Raw($@"
				<img class='txt-p' src='/pics/file-icons/html.png'>
			");
		if (type.EndsWith(".css"))
			return Html.Raw($@"
				<img class='txt-p' src='/pics/file-icons/css.png'>
			");
		if (type.EndsWith(".js"))
			return Html.Raw($@"
				<img class='txt-p' src='/pics/file-icons/js.png'>
			");
		return Html.Raw($@"
				<img src='/pics/file-icons/file.png'>
			");
	}
}

<div class="file-container">
	@if (Context.Request.Cookies["ZipWorkingDir"] == "/")
	{
		<form method="get" asp-action="Folder">
			<span onclick="clickSubmit(this)"><img src="~/pics/file-icons/folder.png">..</span>
			<input type="hidden" name="path" value="">
			<input type="submit" hidden>
		</form>
	}
	else
	{
		<form method="get" asp-action="ZipFolder">
			<span onclick="clickSubmit(this)"><img src="~/pics/file-icons/folder.png">..</span>
			<input type="hidden" name="path" value="../">
			<input type="submit" hidden>
		</form>
	}

	@foreach(var folderName in Model.folderNames)
	{
		<form method="get" asp-action="ZipFolder">
			<span onclick="clickSubmit(this)"><img src="~/pics/file-icons/folder.png">@folderName</span>
			<input type="hidden" name="path" value="@folderName">
			<input type="submit" hidden>
		</form>
	}

	@foreach (var fileName in Model.fileNames)
	{
		<form method="get" asp-action="DownloadZippedFile">
			<span onclick="OpenFile(this, '@fileName')">
				@GetIcon(fileName)@fileName
			</span>
			<div class="d-flex align-items-center">
				<button onclick="clickSubmit(this.parentElement)" type="button" class="button"><img src="~/pics/download.png" /></button>
			</div>
			<input type="hidden" name="path" value="@fileName">
			<input type="submit" hidden>
		</form>
	}

	<form method="post" class="openfile" asp-action="OpenZippedFile" hidden>
		<input type="hidden" name="path">
		<input type="submit">
	</form>
</div>

<form class="logout-container" asp-action="Logout">
	<input type="submit" value="" />
</form>

<div class="modal m1" tabindex="-1">
	<div class="modal-dialog">
		<form class="modal-content" asp-action="DeleteZippedFile">
			<div class="modal-header">
				<h5 class="modal-title">Are you sure you want to delete the following: <span class="item-name"></span></h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-danger">Delete</button>
			</div>
			<input type="hidden" class="path" name="path" />
		</form>
	</div>
</div>
<div class="modal m2" tabindex="-1">
	<div class="modal-dialog">
		<form class="modal-content" asp-action="NewZipDir">
			<div class="modal-header">
				<h5 class="modal-title">Name the directory</h5>
			</div>
			<div class="modal-body">
				<input type="text" required name="path" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</form>
	</div>
</div>

<form asp-action="UploadToZip" enctype="multipart/form-data" method="post" class="dropzone">
	<label for="files"></label>
	<input type="file" name="files" id="files" onchange="clickSubmit(this)" multiple />
	<input type="submit" hidden />
</form>
<div class="spinner-container"><div class="lds-ring"><div></div><div></div><div></div><div></div></div><h4>Uploading, please wait . . .</h4></div>
<script>
	var modal1 = document.querySelector('.m1')
	var modal2 = document.querySelector('.m2')
	var bsmodal1 = new bootstrap.Modal(modal1);
	var bsmodal2 = new bootstrap.Modal(modal2);

	function clickSubmit(sender) {
		sender.parentElement.querySelector('input[type = submit]').click()
	}

	function OpenDeleteConfirmationModal(itemName) {
		modal1.querySelector('.item-name').innerHTML = itemName
		modal1.querySelector('.path').value = itemName
		bsmodal1.show()
	}

	function OpenNewDirModal() {
		bsmodal2.show()
	}

	function OpenFile(sender, name) {
		document.querySelector('.openfile > input[type = hidden]:nth-of-type(1)').value = name
		document.querySelector('.openfile > input[type = submit]').click()
	} 
	
	window.addEventListener("dragenter", function () {
		document.querySelector('.dropzone').style.display = 'block'
	});

	document.querySelector('.dropzone').addEventListener("dragleave", function () {
		document.querySelector('.dropzone').style.display = 'none'
	});

	window.addEventListener("drop", function () {
		document.querySelector('.spinner-container').style.display = 'flex'
	});
</script>