*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background {
    width: 50%;
    max-width: 500px;
    height: 55%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background img {
    height: 200px;
    width: 200px;
    position: absolute;
    width: 50%;
}

.background :first-child {
    left: -100px;
    top: -80px;
    transform: rotate(-20deg);
}

.background :last-child {
    right: -90px;
    bottom: -70px;
    width: 50%;
    transform: rotate(10deg);
}

form {
    width: 50%;
    max-width: 500px;
    min-height: 55%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
form * {
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    flex-shrink: 0;
}
form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form > label {
    display: block;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
}

form > input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.register label {
    margin-top: 15px;
}

.register button {
    margin-top: 40px;
}

input[type=checkbox] {
    width: 15px !important;
    height: 15px;
}